/* Comments */
.comments {background:url("../images/background/stone.png"); padding:20px 0;}
.comments h3 {text-align:center;}
.comments .nocomments {text-align:center;}

.commentlist {background:#fff;}

/* Comment Form */
.comment-form {background:#fff; padding:30px 120px;}
.comment-form input[type="text"],
.comment-form textarea {background:#f5f5f5; border:0;}
.comment-form input[type="text"] {clear:left; float:left; margin-bottom:10px; width:50%;}
.comment-form textarea {height:150px; width:100%;}

.comment-form label {color:#1a1a1a; float:left; font-size:14px; padding:7px 0 0 10px;}
.comment-form .logout,
.comment-form .logout a {color:#ccc; font-size:12px; font-style:italic;}
.comment-form .logout a {color:#528996;}
.comment-form .logout a:hover {color:#1a1a1a;}

.comment-form input[type="submit"] {display:block; margin:30px auto 0;}


/* Phone - Vertical */
@media (max-width:480px) {
}

/* Phone - Horizontal */
@media (max-width:767px) {
}

/* Tablet - Vertical */
@media (min-width:768px) and (max-width:979px) {}

}

/* Small Browser */
@media (min-width:979px) {
}

/* Small Browser */
@media (min-width:1200px) {
	
}

/* Large Browser */
@media (min-width:1600px) {

}