/* Page */


/* Survive */
.menu-survive-navigation-container {margin:-57px 0 50px; text-align:center;}
.survive-menu {border-left:1px solid #2e2e2e; display:inline-block; margin:0 auto;}
.survive-menu li {display:inline-block; float:left;}
.survive-menu li a {background-color:#000; border:1px solid #2e2e2e; border-left:0; color:#575757; font:700 28px "proxima-nova", helvetica, sans-serif; letter-spacing:1px; padding:6px 20px; text-transform:uppercase;}
.survive-menu li.current-menu-item a,
.survive-menu li a:hover {background-color:#2e2e2e; color:#fff;}

.all-guides .guide-link {display:block; text-align:center;}
.all-guides .guide-link a {color:#8b8b8b; margin:5px 0;}


/* Mobile */
@media screen and (min-width: 0px) and (max-width: 319px) {

}


/* iPad */
@media screen and (min-width: 320px) and (max-width: 768px) {

}


/* Monitors */
@media screen and (min-width: 769px) {

}

