
/* All Articles */
article a {color:#7fb4c1;}

/* Single Post */
.feature-image {margin-bottom:55px; width:100%;}

/* Related Posts */
.related-posts {background:#000;}
.related-posts h3 {color:#fff; margin-top:-53px; padding:0 5px; text-align:center;}
.related-posts h3 span {background:#000; font:28px "proxima-nova", helvetica, sans-serif; font-weight:700; letter-spacing:1px; padding:0 5px;}

.article article {color:#202020;}
.article article img {display:block; margin:14px 0;}

/* Profile */
.article article .profile,
.article article .profile p,
.article article .sponsor,
.article article .sponsor p {font:300 14px/20px "proxima-nova", helvetica, sans-serif;}
.article article .profile img {display:inline-block; border-radius:50px; width:auto;}

/* Sponsor */
.article article .sponsor p {margin-bottom:10px;}
.article article .sponsor img {display:inline-block; margin:0; width:auto;}

@media screen and (min-width: 0px) and (max-width: 319px) {
	.row {margin-left:-30px;}
	.span {border-left-width:30px;}
}

@media screen and (min-width: 920px) {
	.row {margin-left:-30px; padding:0 30px;}
	.span {border-left-width:30px;}
}