
/* All Articles */
article p,
article a,
article span,
article li {font-size:17px;}
article a {color:#528996;}

/* Single Post */
.feature-image {margin-bottom:55px; width:100%;}

/* Related Posts */
.also-on-sidetracked {background:#000; padding:20px 0 30px;}
.also-on-sidetracked h3 {color:#fff; margin:-53px 0 30px; padding:0 5px; text-align:center;}
.also-on-sidetracked h3 span {background:#000; font:28px "proxima-nova", helvetica, sans-serif; font-weight:700; letter-spacing:1px; padding:0 5px;}
.also-on-sidetracked a,
.also-on-sidetracked img {display:block;}

.article article {color:#202020;}
.article article img {display:block; margin:14px 0; width:100%;}

/* Profile */
.article article .profile,
.article article .profile p,
.article article .profile a,
.article article .sponsor,
.article article .sponsor a,
.article article .sponsor p {font:300 14px/20px "proxima-nova", helvetica, sans-serif;}
.article article .profile img {display:inline-block; border-radius:50px; width:auto;}

/* Sponsor */
.article article .sponsor p {margin-bottom:10px;}
.article article .sponsor img {display:inline-block; margin:0; width:auto;}


/* Mobile */
@media screen and (min-width: 0px) and (max-width: 319px) {
	article .row {margin-left:-30px;}
	article .span {border-left-width:30px; padding:0 30px;}
}

/* Tablet */
@media screen and (min-width: 320px) and (max-width: 768px) {
	article .block {padding:0 30px;}
	article .span {padding:0 2%; width:100%;}
	article .row .span:first-child {margin-left:0;}

	article .one {width:15.0%;}
	article .two {width:32.0%;}
	article .three {width:49.0%;}
	article .four {width:100%;}
	article .five {width:100%;}
	article .six {margin-left:0; width:100%;}
}

/* Monitors */
@media screen and (min-width: 769px) {
	article .block {padding:0 50px;}
	article .row {margin-left:-30px;}
	article .span {border-left-width:30px;}
}

